@import 'src/theme/variables.scss';
.overlay {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(33, 32, 51, 0.5);
    transition: all 1s;
    z-index: 1005;
    opacity: 1;
}

.modal-header__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: map-get($colors, primary);
    color: map-get($colors, light);
    font-family: 'HelveticaNeue-Bold';
    font-size: $l;
    padding: 10px 10px 10px 20px;
    box-sizing: border-box;
    h4 {
        margin: 0;
        text-align: left;
        padding-right: 15px;
    }
    button {
        mat-icon {
            transform: rotate(135deg);
            font-size: 27px;
        }
    }
}

.modal-body__wrapper {
    padding: 20px;
}

.modal-body__wrapper ::ng-deep app-table {
    display: block;
    box-sizing: border-box;
    background: map-get($colors, light);
    box-shadow: none;
    margin: 0;
    .cmp-table {
        box-shadow: 0 1px 3px 0 rgba(63, 63, 68, 0.15), 0 0 0 1px rgba(63, 63, 68, 0.05);
        border-radius: 4px;
        overflow: hidden;
        .title__wrapper {
            display: none;
        }
        table {
            tbody {
                tr td {
                    height: 55px;
                    min-height: 55px;
                    text-align: left;
                    color: map-get($colors, grey_2) !important;
                }
            }
        }
    }
}

.modal-wrapper {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2000;
    margin: 0;
    max-height: 100%;
    overflow: auto;
    min-width: 600px;
    border-radius: 4px;
    @media #{$mobile-size} {
        min-width: auto;
    }
}

.modal {
    position: relative;
    align-items: center;
    text-align: center;
    width: auto;
    height: auto;
    max-width: 966px;
    min-width: 1200px;
    margin: auto;
    max-height: 90vh;
    overflow: auto;
    z-index: 2000;
    visibility: hidden;
    backface-visibility: hidden;
    box-shadow: none;
    border-radius: 0;
    background-color: map-get($colors, light);
    @media (max-width: 1400px) {
        min-width: 1024px;
    }
    @media (max-width: 1200px) {
        min-width: 992px;
    }
    @media #{$tablet-size} {
        min-width: auto;
    }
    @media #{$mobile-size} {
        max-width: 767px;
    }
    &[show='true'] {
        visibility: visible;
    }
    &[show='false'] {
        display: none;
    }
}

@media (max-width: 480px) {
    .modal {
        min-width: 0;
        max-width: 95vw;
    }
}

.btn__wrapper {
    margin: 0 30px 30px 30px;
    display: flex;
    justify-content: flex-end;
    &:empty {
        display: none;
    }
}