.popup-title {
    color: #4e5c63;
    font-family: "RobotoBold";
    font-size: 20px;
    width: 100%;
    padding-bottom: 5px;
    border-bottom: 1px solid #979797;
    margin-bottom: 20px;
    position: relative;
    line-height: 1.5;
    .close-icon {
        position: absolute;
        right: 2px;
        top: 0;
        cursor: pointer;
        background-image: url("/assets/img/cross-dark.svg");
        background-size: contain;
        background-repeat: no-repeat;
        width: 12px;
        height: 12px;
        display: inline-block;
        padding-right: 5px;
    }
}

.flex {
    display: flex;
    flex-direction: column;
    >* {
        width: 75%;
        margin: 0 auto;
    }
    .select-top {
        display: flex;
    }
}

.mat-form-field {
    z-index: 999;
}

.right {
    margin: 50px 0 30px 0;
    text-align: right;
}

.label {
    color: #4e5c63;
    font-family: "RobotoBold";
    font-size: 14px;
    margin-top: 28px;
    line-height: 1.5;
}

.iban-input {
    padding-left: 10px;
    background-color: #f7f8f9;
    font-family: "Roboto";
    font-size: 14px;
    height: 34.5px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #d3d3d3;
    width: 270px;
}

::ng-deep {
    .selector__container {
        .mat-form-field {
            padding-left: 0;
            background-color: #f7f8f9;
        }
        .mat-form-field-flex {
            font-family: "Roboto";
            font-size: 14px;
        }
        .first-select {
            .mat-form-field {
                width: 90px;
            }
        }
        .second-select {
            .mat-form-field {
                width: 150px;
            }
        }
    }
}