.container-table {
    padding-bottom: 4rem;
    .content {
        background: white;
        padding: 30px;
        h5 {
            box-sizing: border-box;
            margin: 30px;
            color: grey;
        }
    }
    .content-others {
        padding: 30px;
    }
}