.error-dialog{
    position: relative;

    .close-icon {
        position: absolute;
        right: 2px;
        top: 0;
        cursor: pointer;
        background-image: url("/assets/img/cross-dark.svg");
        background-size: contain;
        background-repeat: no-repeat;
        width: 12px;
        height: 12px;
        display: inline-block;
        padding-right: 5px;
    }

    text-align: center;

    > .title{
        font-size: 26px;
        font-family: "Roboto";
        margin: 50px auto 25px auto;
    }

    > .msg {
        margin: 25px auto 50px auto ;
    }

    .icon {
        width: 40px;
        height: 40px;
        margin: 0 auto;
        background-repeat: no-repeat;
        background-size: cover;
        &.tick-ok {
            background-image: url("/assets/img/tick-ok.png");
        }
        &.tick-ko {
            background-image: url("/assets/img/tick-ko.png");
        }
        &.tick-warning {
            background-image: url("/assets/img/tick-warning.png");
        }
        &.none {
            display: none;
        }
    }

}