.popup-title {
    color: #4e5c63;
    font-family: "RobotoBold";
    font-size: 20px;
    width: 100%;
    padding-bottom: 5px;
    border-bottom: 1px solid #979797;
    margin-bottom: 5px;
    line-height: 1.5;
    position: relative;
    .close-icon {
        position: absolute;
        right: 2px;
        top: 0;
        cursor: pointer;
        background-image: url("/assets/img/cross-dark.svg");
        background-size: contain;
        background-repeat: no-repeat;
        width: 12px;
        height: 12px;
        display: inline-block;
        padding-right: 5px;
    }
}

.subtitle {
    margin: 30px 0 20px 0;
    color: #4e5c63;
    font-family: "RobotoBold";
    font-size: 15px;
    line-height: 1.5;
}

.grid {
    // display: grid;
    >* {
        width: 90%;
        margin: 0 auto;
    }
}

.right {
    text-align: right;
}

.bottom-text {
    margin: 5px 50px 50px!important;
    color: #4e5c63;
    font-family: "Roboto";
    font-size: 12px;
    line-height: 1.5;
}

.icon {
    width: 25px!important;
    height: 25px;
    margin: 20px 50px!important;
    background-repeat: no-repeat;
    background-size: cover;
    &.tick-ok {
        background-image: url("/assets/img/tick-ok.png");
    }
    &.tick-ko {
        background-image: url("/assets/img/tick-ko.png");
    }
    &.tick-warning {
        background-image: url("/assets/img/tick-warning.png");
    }
    &.none {
        display: none;
    }
}